<div style="width: 98%;">

	<!-- FORMULARIO NUEVO TERAPEUTA -->
	<%= nested_form_for therapist, :html => { :id => "form-new-therapist", :class => "pure-form pure-form-stacked" } do |f| %>

		<!-- DATOS PERSONALES Y ESCOLARES -->
		<div style="width: 100%; float: left;">
			<div class="form-inputs" style="width: 48%; height: 100%; float: left;">
				<div class="form-inputs-title">DATOS PERSONALES</div>

				<!-- NOMBRES -->
				<div style="margin-left: 4%; margin-top: 8px;">
					<%= f.label :names do %>Nombre(s): <% end %>
					<%= f.text_field :names, autofocus: true, :size => 50, :maxlength => 25, :required => true %>
				</div>
				
			</div>
		</div>

	<% end %>
</div>