<% content_for :profile_tab do %>

	<!-- Panel izquierdo -->
	<div id="ter-profile-1">

		<div>
			<span><b>ID: </b> <%= @therapist.id %></span>
		</div>

		<div>
			<span><b>Nombre: </b> <%= @therapist.p_last_name + " " + @therapist.m_last_name + " " + @therapist.names %></span>
		</div>

		<div>
			<span><b>Teléfono: </b> <%= @therapist.telephone1 %></span>
		</div>

		<div>
			<span><b>E-Mail: </b> <%= @therapist.email %></span>
		</div>

	</div>
<% end %>
