
<div style="font: 65% 'Trebuchet MS', sans-serif; margin: 50px;">
	<div>
		<%= image_tag("Espora.png", :class => "ter-logo") %>
	</div>

	<div id="ter-tabs">
		
		<ul>
			<li><a href="#perfil">Perfil</a></li>
			<li><a href="#lue">LUE</a></li>
			<li><a href="#fie">FIE</a></li>
			<li><a href="#fosti">FOSTI</a></li>
			<li><a href="#havad">HAVAD</a></li>
			<% if current_therapist.role == "Coordinator" %>
			<li><a href="#add_therapist">Registra Terapeuta</a></li>
			<% end %>

			<div id="ter-logout">
				<%= link_to destroy_therapist_session_path, method: :delete do %>SALIR<% end %>
			</div>
		</ul>

		<div id="perfil">
			<div id="perfil-tab">
				<div id="inicio">BIENVENIDO A ESPORA!!</div>
				<div id="informacion">Información del terapeuta</div>

			</div>
		</div>

		<div id="lue">
			<div id="lue-tab">
				<ul>
					<li><a href="#consultar">Consultar</a></li>
					<li><a href="#nuevo">Nuevo</a></li>
					<li><a href="#historial">Historial</a></li>
				</ul>
				<div id="consultar">Lista de pacientes</div>

				<div id="nuevo"></div>
				<div id="historial">Estadissticas de los alumnos consultados</div>
			</div>
		</div>

		<div id="fie">
			<div id="fie-tab">
				<ul>
					<li>
						<a href="#consultar-fie">Consultar</a>
					</li>
				</ul>
				<div id="consultar-fie">Lista de pacientes</div>
			</div>
		</div>

		<div id="fosti">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</div>

		<div id="havad">
			Phasellus mattis tincidunt nibh. Cras orci urna, blandit id, pretium vel, aliquet ornare, felis. Maecenas scelerisque sem non nisl. Fusce sed lorem in enim dictum bibendum.
		</div>

		<% if current_therapist.role == "Coordinator" %>
		<div id="add_therapist">
		</div>
		<% end %>
	</div>
</div>

<script type="text/javascript">

	function loadPanel( url, panel ) {
		// Pedimos via ajax
		$.ajax({
			type: "GET",
			url: url,
			dataType: "html",
			success: function( data ) {
				panel.html( data );
			}
		});
	}

	$(document).ready(function() {
		$( "#ter-tabs" ).tabs({
			beforeActivate: function( event, ui ) {
				var newPanel = ui.newPanel;

				if( newPanel.attr( "id" ) == "add_therapist" ) {
					loadPanel( "<%= new_therapist_path %>", newPanel );
				}
			}
		});

		$( "#perfil-tab" ).tabs();

		$( "#lue-tab" ).tabs( {
			beforeActivate: function( event, ui ) {
				var newPanel = ui.newPanel;
				if( newPanel.attr( "id" ) == "nuevo" ) {
					loadPanel( "<%= new_patient_request_path %>", newPanel );
				}
			}
		});

		$( "#fie-tab" ).tabs();
	});
</script>