<% content_for :statistics do %>
	
	<div id="sidebar-header-tab">
		<div id="sidebar-tab">
			<ul id="sidebar-tabs-header">
				<li><a href="#request_on_attended">Número de solicitudes y de alumnos atendidos</a></li>
				<li><a href="#sex_requests">Sexo de solicitantes</a></li>
				<li><a href="#sex_attended">Sexo de atendidos</a></li>
				<!--<li><a href="#family_structure">Estructura Familiar</a></li>-->
				<li><a href="#career_requests">Carrera de solicitantes</a></li>
				<li><a href="#career_attended">Carrera de atendidos</a></li>
				<li><a href="#semester_requests">Semestre de solicitantes</a></li>
				<li><a href="#semester_attended">Semestre de atendidos</a></li>
				<li><a href="#failed_subjects_requests">Materias reprobadas de solicitudes</a></li>
				<li><a href="#failed_subjects_attended">Materias reprobadas de atendidas</a></li>
				<!--<li><a href="#dropouts_semester">Bajas al semestre</a></li>-->
				<li><a href="#dropouts">Bajas</a></li>
				<li><a href="#reasons">Motivos de consulta</a></li>
				<li><a href="#symptoms">Signos y síntomas</a></li>
				<li><a href="#affected_areas">Áreas afectadas</a></li>
				<li><a href="#improved_areas">Áreas mejoradas</a></li>
				<li><a href="#condition_before">Estado emocional al comenzar</a></li>
				<li><a href="#condition_after">Estado emocional al finalizar</a></li>
				<li><a href="#aid">Nivel de ayuda</a></li>
				<li><a href="#advise">Nivel de recomendación</a></li>
				<li><a href="#how_met">Como conoció</a></li>
				<li><a href="#rating">Calificación</a></li>
			</ul>
		</div>

		<div id="container">
			<div id="request_on_attended"></div>
			<div id="sex_requests"></div>
			<div id="sex_attended"></div>
			<div id="family_structure"></div>
			<div id="career_requests"></div>
			<div id="career_attended"></div>
			<div id="semester_requests"></div>
			<div id="semester_attended"></div>
			<div id="failed_subjects_requests"></div>
			<div id="failed_subjects_attended"></div>
			<div id="dropouts_semester"></div>
			<div id="dropouts"></div>
			<div id="reasons"></div>
			<div id="symptoms"></div>
			<div id="affected_areas"></div>
			<div id="improved_areas"></div>
			<div id="condition_before"></div>
			<div id="condition_after"></div>
			<div id="aid"></div>
			<div id="advise"></div>
			<div id="how_met"></div>
			<div id="rating"></div>
		</div>
	</div>

	<script type="text/javascript">

		/* CARACTERISTICAS DE LAS GRÁFICAS
		 * 
		 * Tiene la siguiente estructura:
		 * "nombredelagrafica": {
		 * 		options: // Object - Opciones de la grafica,
		 *  	chartType: // String - Tipo de la grafica,
		 *  	buildDataTable: // Function - Debe regresar la tabla de datos
		 *	}  
		 */
		var chartsSettings = {
			"request_on_attended": {
				options: {
					width: 900,
					height: 400,
					title: 'Numero de Solicitudes y Alumnos Atendidos',
					curveType: 'function',
					legend: { position: 'bottom' }
				},
				chartType: "linechart",
				buildDataTable: function (data) {
					var dataTable = [['String', 'Numero de Solicitudes Recibidas', 'Numero de Alumnos Atendidos']];
					for (var key in data) {
						var row = ['Semestre ' + key, data[key].request, data[key].attended];
						dataTable.push(row);
					}

					return google.visualization.arrayToDataTable(dataTable);
				}
			},
			"sex_requests": {
				options: {
					title: 'Sexo de los alumnos que han solicitado el servicio',
					width: 800,
					height: 400,
				},
				chartType: "piechart",
				buildDataTable: function (data) {
					var dataTable = [
						['Genero', 'Personas'],
						['Hombre',  data.m],
						['Mujer' ,  data.f]
					];
					return google.visualization.arrayToDataTable(dataTable);
				}
			},
			"sex_attended": {
				options: {
					title: 'Sexo de los alumnos que se han atendido en ESPORA',
					width: 800,
					height: 400,
				},
				chartType: "piechart",
				buildDataTable: function (data) {
					var dataTable = [
						['Genero', 'Personas'],
						['Hombre',  data.m],
						['Mujer' ,  data.f]
					];
					return google.visualization.arrayToDataTable(dataTable);
				}
			},
			/**"family_structure":{

			}**/
			"career_requests": {
				options: {
					title: 'Carrera de procedencia de alumnos solicitantes',
	        		width: 900,
	        		height: 400,
				},
				chartType: "piechart",
				buildDataTable: function (data) {
					var dataTable = [
						['Carrera', 'Personas'],
						['Actuaria', data["Actuaria"]],
						['Biologia', data["Biología"]],
						['Ciencias de la Computación', data["Ciencias de la Computación"]],
						['Ciencias de la Tierra', data["Ciencias de la Tierra"]],
						['Física', data["Física"]],
						['Física Biomédica', data["Física Biomédica"]],
						['Manejo Sustentable de Zonas Costeras', data["Manejo Sustentable de Zonas Costeras"]],
						['Matemáticas', data["Matemáticas"]]
					];

					return google.visualization.arrayToDataTable(dataTable);
				}
			},
			"career_attended": {
				options: {
					title: 'Carrera de procedencia de alumnos atendidos',
					width: 900,
					height: 400,
				},
				chartType: "piechart",
				buildDataTable: function (data) {
					var dataTable = [
						['Carrera', 'Personas'],
						['Actuaria', data["Actuaria"]],
						['Biologia', data["Biología"]],
						['Ciencias de la Computación', data["Ciencias de la Computación"]],
						['Ciencias de la Tierra', data["Ciencias de la Tierra"]],
						['Física', data["Física"]],
						['Física Biomédica', data["Física Biomédica"]],
						['Manejo Sustentable de Zonas Costeras', data["Manejo Sustentable de Zonas Costeras"]],
						['Matemáticas', data["Matemáticas"]]
					];

					return google.visualization.arrayToDataTable(dataTable);
				}
			},
			"semester_requests": {
				options: {
					title: 'Semestre que estan cursando los alumnos solicitantes',
					width: 900,
					height: 400,
				},
				chartType: "piechart",
				buildDataTable: function (data) {
					var dataTable = [
						['Semestre', 'Cantidad'],
						['1er', data["1"]],
						['2°', data["2"]],
						['3°', data["3"]],
						['4°', data["4"]],
						['5°', data["5"]],
						['6°', data["6"]],
						['7°', data["7"]],
						['8°', data["8"]],
						['9°', data["9"]]
					];

					return google.visualization.arrayToDataTable(dataTable);
				}
			},
			"semester_attended": {
				options: {
					title: 'Semestre que estan cursando los alumnos atendidos',
					width: 900,
					height: 400,
				},
				chartType: "piechart",
				buildDataTable: function (data) {
					var dataTable = [
						['Semestre', 'Cantidad'],
						['1er', data["1"]],
						['2°', data["2"]],
						['3°', data["3"]],
						['4°', data["4"]],
						['5°', data["5"]],
						['6°', data["6"]],
						['7°', data["7"]],
						['8°', data["8"]],
						['9°', data["9"]]
					];

					return google.visualization.arrayToDataTable(dataTable);
				}	
			},
			"failed_subjects_requests": {
				options: {
					title: 'Cantidad de materias reprobadas por los alumnos solicitantes',
					width: 900,
					height: 400,
				},
				chartType: "piechart",
				buildDataTable: function (data) {
					var dataTable = [
						['Materias', 'Cantidad'],
						['1', data["1"]],
						['2', data["2"]],
						['3', data["3"]],
						['4', data["4"]],
						['5', data["5"]],
						['6', data["6"]],
						['7', data["7"]],
						['8', data["8"]],
						['9', data["9"]],
						['10', data["10"]]
					];

					return google.visualization.arrayToDataTable(dataTable);
				}	
			},
			"failed_subjects_attended": {
				options: {
					title: 'Cantidad de materias reprobadas por los alumnos atendidos',
					width: 900,
					height: 400,
				},
				chartType: "piechart",
				buildDataTable: function (data) {
					var dataTable = [
						['Materias', 'Cantidad'],
						['1', data["1"]],
						['2', data["2"]],
						['3', data["3"]],
						['4', data["4"]],
						['5', data["5"]],
						['6', data["6"]],
						['7', data["7"]],
						['8', data["8"]],
						['9', data["9"]],
						['10', data["10"]]
					];

					return google.visualization.arrayToDataTable(dataTable);
				}
			},
			/**"dropouts_semester": {

			},**/
			"dropouts": {
				options: {
					title: 'Reporte de bajas',
					width: 900,
					height: 400,					
				},
				chartType: "piechart",
				buildDataTable: function (data) {
					var dataTable = [
						['Baja','Personas'],
						['Abandono', data.Abandono],
						['Canalizado', data.Canalizado],
						['Finalizado', data.Finalizado],
						['Interrupción', data.Interrupción]
					];
					return google.visualization.arrayToDataTable(dataTable);
				}
			},
			"reasons": {
				options: {
					title: 'Motivos de consulta señalados por los alumnos',
					width: 1000,
					height: 700,
				},
				chartType: "barchart",
				buildDataTable: function (data){
					var dataTable = [
						['Motivo', 'Cantidad'],
						['Adicciones', data["Adicciones"]],
						['Alimentación', data["Alimentación"]],
						['Ansiedad y angustia', data["Ansiedad y angustia"]],
						['Autoconocimiento', data["Autoconocimiento"]],
						['Autoestima', data["Autoestima"]],
						['Ayuda, dudas y orientación', data["Ayuda, dudas y orientación"]],
						['Depresión y tristeza', data["Depresión y tristeza"]],
						['Deseo de sentirse bien', data["Deseo de sentirse bien"]],
						['Elección de carrera', data["Elección de carrera"]],
						['Emocionales y psicológicos', data["Emocionales y psicológicos"]],
						['Escolares', data["Escolares"]],
						['Estrés', data["Estrés"]],
						['Familiares', data["Familiares"]],
						['Físicos', data["Físicos"]],
						['Fobias y miedos', data["Fobias y miedos"]],
						['Mejorar como persona', data["Mejorar como persona"]],
						['Pareja', data["Pareja"]],
						['Relacionarse', data["Relacionarse"]],
						['Separaciones, muertes y duelos', data["Separaciones, muertes y duelos"]],
						['Sexuales', data["Sexuales"]],
						['Sueño', data["Sueño"]],
						['Otros', data["Otros"]],
						['Platicar', data["Platicar"]]			
					];

					return google.visualization.arrayToDataTable(dataTable);
				}
			},
			"symptoms": {
				options: {
					title: 'Signos y síntomas más frecuentes en los pacientes',
					width: 1000,
					height: 1000,
				},
				chartType: "barchart",
				buildDataTable: function (data){
					var dataTable = [
						['Sintoma', 'Cantidad'],
						['Agresividad', data["Agresividad"]],
						['Aislamiento', data["Aislamiento"]],
						['Alcoholismo', data["Alcoholismo"]],
						['Alucinaciones', data["Alucinaciones"]],
						['Ansiedad y Estrés', data["Ansiedad y Estrés"]],
						['Ataque de pánico', data["Ataque de pánico"]],
						['Atracones', data["Atracones"]],
						['Auto sabotaje', data["Auto sabotaje"]],
						['Autolesiones', data["Autolesiones"]],
						['Autorreproches', data["Autorreproches"]],
						['Celos', data["Celos"]],
						['Confusión', data["Confusión"]],
						['Culpa', data["Culpa"]],
						['Dependencia', data["Dependencia"]],
						['Desesperación', data["Desesperación"]],
						['Desesperanza', data["Desesperanza"]],
						['Desinterés', data["Desinterés"]],
						['Dificultad adaptación', data["Dificultad adaptación"]],
						['Dificultad para estudiar', data["Dificultad para estudiar"]],
						['Enojo', data["Enojo"]],
						['Envidia', data["Envidia"]],
						['Exigencias elevadas', data["Exigencias elevadas"]],
						['Falta de apetito', data["Falta de apetito"]],
						['Flojera', data["Flojera"]],
						['Fobias', data["Fobias"]],
						['Hiperactividad', data["Hiperactividad"]],
						['Hipocondría', data["Hipocondría"]],
						['Ideación suicida', data["Ideación suicida"]],
						['Ideas obsesivas', data["Ideas obsesivas"]],
						['Ideas paranoides', data["Ideas paranoides"]],
						['Identidad sexual', data["Identidad sexual"]],
						['Inestabilidad emocional', data["Inestabilidad emocional"]],
						['Insatisfacción', data["Insatisfacción"]],
						['Insomnio', data["Insomnio"]],
						['Intento de suicidio', data["Intento de suicidio"]],
						['Miedo a participar', data["Miedo a participar"]],
						['Preocupación calorías', data["Preocupación calorías"]],
						['Problemas de autoestima', data["Problemas de autoestima"]],
						['Problemas para relacionarse', data["Problemas para relacionarse"]],
						['Rituales', data["Rituales"]],
						['Soledad', data["Soledad"]],
						['Somatización', data["Somatización"]],
						['Taquicardia', data["Taquicardia"]],
						['Tristeza', data["Tristeza"]],
						['Vómito', data["Vómito"]]					
					];

					return google.visualization.arrayToDataTable(dataTable);
				}
			},
			"affected_areas": {
				options: {
					title: 'Areas afectadas del alumno con relación al motivo de consulta',
					width: 1000,
					height: 400,
					legend: {position: "none"},
				},
				chartType: "columnchart",
				buildDataTable: function (data){
					var dataTable = [
						['Areas','Cantidad'],
						['Escolar', data["Escolar"]],
						['Familiar', data["Familiar"]],
						['Social', data["Social"]],
						['Laboral', data["Laboral"]],
						['Pareja', data["Pareja"]],
						['Sexual', data["Sexual"]],
						['Emocional', data["Emocional"]],
						['Otro', data["Otro"]]
					];
					return google.visualization.arrayToDataTable(dataTable);
				}
			},
			"improved_areas": {
				options: {
					title: 'Areas beneficiadas del alumno con relación al motivo de consulta',
					width: 1000,
					height: 400,
					legend: {position: "none"},
				},
				chartType: "columnchart",
				buildDataTable: function (data){
					var dataTable = [
						['Areas','Cantidad'],
						['Escolar', data["Escolar"]],
						['Familiar', data["Familiar"]],
						['Social', data["Social"]],
						['Laboral', data["Laboral"]],
						['Pareja', data["Pareja"]],
						['Sexual', data["Sexual"]],
						['Emocional', data["Emocional"]],
						['Otro', data["Otro"]]
					];
					return google.visualization.arrayToDataTable(dataTable);
				}
			},

			"condition_before": {
				options: {
					title: 'Estado emocional de los pacientes antes del tratamiento',
					width: 900,
					height: 400,

				},
				chartType: "piechart",
				buildDataTable: function (data) {
					var dataTable = [
						['Estado', 'Datos'],
						['Muy mal', data["Muy mal"]],
						['Mal', data["Mal"]],
						['Regular', data["Regular"]],
						['Bien', data["Bien"]],
						['Muy bien', data["Muy bien"]]
					];
					return google.visualization.arrayToDataTable(dataTable);
				}
	
			},
			"condition_after": {
				options: {
					title: 'Estado emocional de los pacientes después de finalizar el tratamiento',
					width: 900,
					height: 400,

				},
				chartType: "piechart",
				buildDataTable: function (data) {
					var dataTable = [
						['Estado', 'Datos'],
						['Muy mal', data["Muy mal"]],
						['Mal', data["Mal"]],
						['Regular', data["Regular"]],
						['Bien', data["Bien"]],
						['Muy bien', data["Muy bien"]]
					];
					return google.visualization.arrayToDataTable(dataTable);
				}
			},
			
			"aid": {
				options: {
					title: 'Opinión del paciente con relación a su motivo de consulta',
					width: 900,
					height: 400,

				},
				chartType: "piechart",
				buildDataTable: function (data) {
					var dataTable = [
						['Ayuda', 'Datos'],
						['No me ayudó', data["No me ayudó"]],
						['Me ayudó poco', data["Me ayudó poco"]],
						['Me ayudó moderadamente', data["Me ayudó moderadamente"]],
						['Me ayudó mucho', data["Me ayudó mucho"]],
						['Me ayudó totalmente', data["Me ayudó totalmente"]]
					];
					return google.visualization.arrayToDataTable(dataTable);
				}
			},
		
			"advise": {				
				options: {
					title: 'Recomendación de los pacientes que finalizaron el tratamiento',
					width: 900,
					height: 400,
				},
				chartType: "piechart",
				buildDataTable: function (data) {
					var dataTable = [
						['Recomenacion', 'Datos'],
						['Nada', data["Nada"]],
						['Poco', data["Poco"]],
						['Medio', data["Medio"]],
						['Mucho', data["Mucho"]],
						['Completamente', data["Completamente"]]
					];
					return google.visualization.arrayToDataTable(dataTable);
				}
			},

			"how_met": {
				options: {
					title: 'Medios de difusión del espacio',
					width: 900,
					height: 400,

				},
				chartType: "piechart",
				buildDataTable: function (data) {
					var dataTable = [
						['Medio', 'Datos'],
						['Cartel', data["Cartel"]],
						['Amigos y/o conocidos', data["Amigos y/o conocidos"]],
						['Página de la Facultad', data["Página de la Facultad"]],
						['Maestros o Tutores', data["Maestros o Tutores"]],
						['Platica Informativa o Bienvenida', data["Platica Informativa o Bienvenida"]],
						['Otro', data["Otro"]],
					];
					return google.visualization.arrayToDataTable(dataTable);
				}
			},
			"rating": {
				options: {
					title: 'Calificación del espacio según los alumnos que finalizaron',
					width: 900,
					height: 400,

				},
				chartType: "piechart",
				buildDataTable: function (data) {
					var dataTable = [
						['Calificacion', 'Datos'],
						['1', data["1"]],
						['2', data["2"]],
						['3', data["3"]],
						['4', data["4"]],
						['5', data["5"]],
						['6', data["6"]],
						['7', data["7"]],
						['8', data["8"]],
						['9', data["9"]],
						['10', data["10"]],
					];
					return google.visualization.arrayToDataTable(dataTable);
				}
			}
		};

		/**
		 * Dibuja una grafica con GoogleCharts.
		 * 
		 * @param {Object} data - Los datos que vienen del servidor (JSON).
		 * @param {Object} chartSetting - Objeto que tiene la configuración de la grafica.
		 * @param {DOM Element} element - Elemento DOM donde se pone la gráfica.
		 */
		function displayChart (data, chartSetting, element) {

			// Construimos la tabla de datos
			var dataTable = chartSetting.buildDataTable(data);

			// Creamos la grafica
			var chart = undefined;
			switch(chartSetting.chartType) {
				case "linechart":
					chart = new google.visualization.LineChart(element[0]);
					break;
				case "piechart":
					chart = new google.visualization.PieChart(element[0]);
					break;
				case "columnchart":
					chart = new google.visualization.ColumnChart(element[0]);
					break;
				case "barchart":
					chart = new google.visualization.BarChart(element[0]);
					break;
			}

			// La dibujamos
			chart.draw(dataTable, chartSetting.options);
		}

		// Inicializamos el paquete goolecharts
		google.load('visualization', '1.0', {'packages':['corechart']});
		google.setOnLoadCallback(function() {

			// Costruimos las pestañas
			$("#sidebar-header-tab").tabs({
				beforeActivate: function (event, ui) {

					// Obtenemos el panel que se mando a llamar
					var newPanel = ui.newPanel;

					// Obtenemos la grafica que quieren
					var chartName = newPanel.attr("id");

					// Armamos la url
					var urlData = "<%= chart_path %>?chart=" + chartName;

					// Petición ajax de los datos de la gráfica
					$.ajax({
						method: "GET",
						url: urlData,
						success: function (data) {

							// Si no pedimos bien la grafica
							if(data === "undefined chart") {
								console.log("Grafica mala");
							}
							else {

								// Dibujamos la grafica
								displayChart(data, chartsSettings[chartName], newPanel);
							}
						}
					});
				}
			});
		});
	</script>

<% end %>

<%= render template: "therapists/profile_tab" %>