<% w = @chartSetting[:options][:width] %>
<% h = @chartSetting[:options][:height] %>
<div name-chart="<%= params[:chart] %>" class="statistics-chart" style="width: <%= w %>px;" >
	<div class="chart" style="width: <%= w %>px; height: <%= h %>px;"></div>
</div>
<script>
	(function () {

		// Parseamos el JSON de datos
		var settingJSON = '<%= @chartSetting.to_json %>';
		while(settingJSON.lastIndexOf('&quot;') != -1) {
			settingJSON = settingJSON.replace('&quot;', '"');
		}

		var chartSetting = JSON.parse(settingJSON);
		chartSetting.chartArea =  {
			'width': '100%', 'height': '100%'
		};
		console.log(chartSetting);
		var element = $("div[name-chart='<%= params[:chart] %>'] .chart")[0];
		displayChart(chartSetting, element);
	})();
</script>