<table class="pure-table pure-table-bordered" style="width: 100%; margin-top: 1p3x;">
	<thead>
		<th>CITA</th><th>HORARIO</th><th>ASISTIO</th><th></th>
	</thead>
	<tbody>
		<tr class="pure-table-odd">
			<td>1</td>
			<td>2:00 a 3:00 pm</td>
			<td><i class="fa-check-circle"></i></td>
			<td><i class="fa fa-caret-down"></i></td>
		</tr>
		<tr class="pure-table-odd">
			<td>2</td>
			<td>2:00 a 3:00 pm</td>
			<td><i class="fa-check-circle"></i></td>
			<td>50</td>
		</tr>
		<tr class="pure-table-odd">
			<td>3</td>
			<td>2:00 a 3:00 pm</td>
			<td><i class="fa-ban"></i></td>
			<td>50</td>
		</tr>
		<tr class="pure-table-odd">
			<td>4</td>
			<td>2:00 a 3:00 pm</td>
			<td><i class="fa-check-circle"></i></td>
			<td>50</td>
		</tr>
	</tbody>
</table>
<button class="pure-button pure-button-primary" style="float:right; margin-top:10px; ">Añadir Cita</button>