<li style="width: 10px;"></li>

<% @open_records.each do | open_record | %>
	<% patient = open_record.patient %>
	<li class="open-record-tab">
		<div>
			<a href="#open_record_<%= open_record.id %>" class="open-record-tab-name">
				<%= patient.names + " " + patient.p_last_name %>
			</a>
		</div>
		<div><%= link_to close_record_path(open_record), class: "close-record-link" do %>
			<i class="fa fa-times"></i>
		<% end %></div>
	</li>
<% end %>

<script type="text/javascript">

	// Recorremos los divs del li
	$(".open-record-tab-name").each(function () {
		var str = this.innerHTML;
		var idx = str.length;
		while (this.innerHTML.trim().length > 15) {
			this.innerHTML = (str.substring(0, idx) + "...").trim();
			idx--;
		}
	});
</script>