<li style="width: 10px;"></li>

<% @open_records.each do | open_record | %>
	<% patient = open_record.patient %>

	<li class="open-record-tab">
		<a href="#open_record_<%= open_record.id %>" style="padding-right: 1px;">
			<div style="margin-left: 0px;"><%= patient.names + " " + patient.p_last_name %></div>
		</a>
		<%= link_to close_record_path(open_record), :style => "padding-left: 0; padding-right: 0; float: right; margin: 0 5px 0 8px; cursor: pointer;" do %>
			<i class="fa fa-times"></i>
		<% end %>
	</li>
<% end %>

<script type="text/javascript">

	// Recorremos los divs del li
	$(".open-record-tab a div").each(function () {
		var str = this.innerHTML;
		var idx = str.length;
		while (this.innerHTML.length > 25) {
			this.innerHTML = str.substring(0, idx) + "...";
			idx--;
		}
	});
</script>