<% content_for :havad_tab do %>
	
	<!-- WORKSPACE HAVAD -->
	<div id="havad-tab">

		<!-- PESTANAS -->
		<ul>
			<% if content_for?(:fosti) %>
				<li><a href="#fosti">FOSTI</a></li>
			<% else content_for(:havad) %>
				<li><a href="#havad"></a></li>
			<% end %>
		</ul>

		<!-- PANELES -->
		<% if content_for?(:fosti) %>
			<div id="fosti">
				<%= yield(:fosti) %>
			</div>
		<% else content_for(:havad) %>
			<div id="havad">
				<%= yield(:havad) %>
			</div>
		<% end %>

	</div>

	<script type="text/javascript">
		$( "#havad-tab" ).tabs({
			active: parseInt("<%= @havad_active_tab %>")
		});
	</script>
<% end %>