<% content_for :havad_tab do %>
	
	<!-- WORKSPACE HAVAD -->
	<div id="havad-tab">

		<!-- PESTANAS -->
		<ul>
			<% if current_patient.nil? %>
				<li><a href="#fosti">FOSTI</a></li>
			<% else %>
				<li><a href="#havad">Expediente</a></li>
			<% end %>

			<% if content_for?(:appointment) %>
				<li><a href="#appointment">Cita</a></li>
			<% end %>
		</ul>

		<!-- PANELES -->
		<% if current_patient.nil? %>
			<div id="fosti" class="ter-panel"><%= yield(:fosti) if content_for?(:fosti) %></div>
		<% else %>
			<div id="havad" class="ter-panel"><%= yield(:havad) if content_for?(:havad) %></div>
		<% end %>

		<% if content_for?(:appointment) %>
			<div id="appointment" class="ter-panel"><%= yield(:appointment) %></div>
		<% end %>
	</div>

	<script type="text/javascript">
		$( "#havad-tab" ).tabs({
			active: parseInt("<%= @havad_active_tab %>")
		});
	</script>
<% end %>