
.esp-logo {
	width: 331px;
	height: 195px;
	margin-left: 514px;
}

#menu {
	width: 400px;
	height: 74px;
	border-width: 1px;
	border-color: green;
	border-style: solid;
	padding-left: 15px;
	margin-left: 410px;
	margin-top: 30px;
	border-radius: 4px;
}

#login {
	width: 87%;
	height: 205px;

	border-width: 1px;
	border-color: green;
	border-style: solid;

	padding-left: 15px;

	margin-top: 15px;
	border-radius: 4px;

	font: 75% "Trebuchet MS", sans-serif;
}

#login div {
	width: 100%;
	margin-top: 20px;
}

#login div input {
	width: 80%;
}

/******* NOTICE *******/

.alert-box {
	width: 72%;
	color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	font-size: 12px;
	padding: 10px 36px;
	cursor: pointer;
}

.error {
	background: rgb(202, 60, 60);
}

.success {
	background: rgb(28, 184, 65);
}

.warning {
	background: rgb(223, 117, 20);
}

.notice {
	background: rgb(66, 184, 221);
}

.clearfix {
	overflow: auto;
	zoom: 1;
}