// Place all the styles related to the PatientRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#lue-table .arrow-expand {
	font-size: 18px;
	display: block;
}

#lue-table .order {
	cursor: pointer;
}

.order-active, .c-order-active {
	background-color: #e0e0e0 !important;
}

.lue-block {
	width: 100%;
	position: relative;
	display: inline-block;
}

#lue-search, #lue-filter {
	width: 20%;
	margin-left: 2%;
	margin-top: 15px;
	float: left;
}

