// Place all the styles related to the PatientRecords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.field-havad {
	width: 100%;
	position: relative;
	float: left;
	margin-top: 13px;
}

div.field-havad span {
	font-weight: bold;
	font-size: 13px;
}

div.field-havad > div {
	margin-top: 8px;
	margin-left: 25px;
}

div.havad-checkbox {
	margin: 2px 0px 2px 0px;
}

div.havad-checkbox label {
	display: inline-block;
	top: -3px;
	position: relative;
}

div.havad-section {
	width: 100%;
	position: relative;
	float: left;
	border: 1px solid #d3d3d3;
	border-radius: 3px;
	padding: 10px 0px 10px 10px;
	margin-top: 10px;
}

table#appointment-table {
	width: 100%;
	margin-top: 13px;
}

table#appointment-table th, table#appointment-table td {
	text-align: center;
}

table#appointment-table i {
	font-size: 18px;
}
