// Place all the styles related to the PatientRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/******* TABLA HORARIOS DE SOLICITUD *******/

#req-schedules-input {
	table-layout: fixed;
}

#req-schedules-input th td {
	overflow: hidden;
}

#req-schedules-input .available-schedule {
	background: #FFF;
	cursor: pointer;
}

#req-schedules-input .selected-schedule {
	background: rgba(58,135,173,0.8);
	border-top: none;
	border-bottom: none;
	padding: 5px;
}

/******* LUE *******/

#lue-table {
	width: 90%;
}

#lue-table .arrow-expand {
	font-size: 18px;
	display: block;
}

#lue-table .order {
	cursor: pointer;
}

.order-active, .c-order-active {
	background-color: #e0e0e0 !important;
}

.lue-block {
	width: 100%;
	position: relative;
	display: inline-block;
}

#lue-search, #lue-filter {
	width: 20%;
	margin-left: 2%;
	margin-top: 15px;
	float: left;
}

.lue-pat div {
	display: inline-block;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
}

.lue-pat div span {
	width: 100%;
	float: left;
	margin-top: 7px;
}

.pat-schedule-table {
	margin-top: 22px;
}

.lue-pat-action {
	width: 170px;
	padding-top: 8px;
	height: 14px;
	margin-top: 5px;
}