#statistics{
    height: 500px;
}

#container {
    /*position: relative;*/
    height: 100%;
	width: 80%;
    float: left;
}
#sidebar-tab ul li {
    margin-left: 12px;
    width: 100%;
} 

#sidebar-tab {
    overflow-y: scroll;
    overflow-x: hidden;
    float: left;
    font-size: 10vh;
    /*position: absolute;*/
    background: #41775F;
    width: 220px;
    height: 400px;
    box-sizing: border-box;
   -moz-box-sizing: border-box;
}
#sidebar-tab ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ui-tabs-anchor{
    width: 100% !important;
}
#sidebar-tab ul li a {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 100;
    color: white;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #41775F;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
}
#sidebar-tab ul li:hover a {
    background: #E6C84F;
}

#sidebar-tab ul li a {
    background: #41775F;
    margin-top: -1.3px;
}