#statistics-options {
	width: 100%;
	height: 45px;

	position: relative;

	border: 1px solid #d3d3d3;
	border-radius: 3px;
}

#statistics-download {
	width: 38px;
	height: 37px;

	position: relative;
	margin-top: 4px;
	margin-right: 4px;
	float: right;

	background: #1c94c4;
	color: white;
	font-size: 20px;

	border-radius: 4px;
}

#statistics-download:hover {
	cursor: pointer;
	background: #13607f;
}

#statistics-download i {
	margin-top: 10px;
    margin-left: 9px;
}

#branch-statics-selec,
#semester-statics-selec {
	margin-top: 8px;
	float: left;
}

#branch-statics-selec {
	margin-left: 2%;
}

#semester-statics-selec {
	margin-left: 20px;
}

#branch-statics-selec span,
#semester-statics-selec span {
	float: left;
}

#statistics-container {
	width: 100%;
	height: 380px;

	position: relative;
	margin-top: 8px;

	overflow-y: scroll;
}

div.statistics-chart {
	padding: 8px;
}