#statistics-options {
	width: 100%;
	height: 45px;

	position: relative;

	border: 1px solid #d3d3d3;
	border-radius: 3px;
}

#statistics-download {
	width: 38px;
	height: 37px;

	position: relative;
	margin-top: 4px;
	margin-right: 4px;
	float: right;

	background: #1c94c4;
	color: white;
	font-size: 20px;

	border-radius: 4px;
}

#statistics-download:hover {
	cursor: pointer;
	background: #13607f;
}

#statistics-download i {
	margin-top: 10px;
    margin-left: 9px;
}

#statistics-wall {
	width: 100%;
	height: 1400px;
	margin: 10px;
	position: relative;
}

#statics-selec {
	margin-top: 8px;
	margin-left: 2%;
	float: left;
}

#statics-selec label:nth-child(3) {
	margin-left: 20px;
}

#statics-selec label:nth-child(5) {
	margin-left: 10px;
}

#statistics-container {
	width: 100%;
	height: 380px;

	position: relative;
	margin-top: 8px;

	overflow-y: scroll;
	overflow-x: hidden;
}

.statistics-chart {
	height: auto;

	padding: 10px;
	display: table;
	border: 1px solid #000;
    border-radius: 3px;
}

.chart {
	display: table-row;
	position: relative;
}