
.ter-logo {
	width: 205px;
	height: 86px;
	border-radius: 5%;
	margin-left: 1050px;
	margin-bottom: 15px;
}

#ter-logout {
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	font-size: 13px;
}

/************ FORMULARIOS **************/

.form-inputs {
	min-height: 133px;

	position: relative;
	float: left;

	border: 1px solid #d3d3d3;
	border-radius: 3px;

	padding: 10px 0px 10px 10px;
	margin-top: 10px;
}