	
.ter-logo {
	width: 205px;
	height: 86px;
	border-radius: 5%;
	margin-left: 1050px;
	margin-bottom: 15px;
}

#ter-logout {
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	font-size: 13px;
}

#ter-tabs {
	min-height: 400px;
}

#perfil {
	font-size: 14px;
}

/************ PERFIL **************/

#ter-profile-1 {
	width: 50%;
}

#ter-profile-1 div {
	width: 100%;
	float: left;
	display: block;
}

/************ FORMULARIOS **************/

.form-inputs {
	position: relative;

	border: 1px solid #d3d3d3;
	border-radius: 3px;
	padding: 10px 0px 10px 10px;
	margin-top: 10px;
}

.form-inputs > div {
	width: 100%;
	float: left;
}

.form-date select {
	display: inline-block;
}

.form-radio-opt label input {
	float: left;
}

textarea {
	resize: none;
}
