
#ter-main-container {
	font: 65% 'Trebuchet MS', sans-serif;
	padding: 5px 40px 0px 40px;
}

#ter-header {
	width: 100%;
	position: relative;
	float: left;
}

#ter-header > div {
	position: relative;
	float: left;
	height: inherit;
}

#ter-curr-patient span {
	font-size: 13px;
	width: 100%;
	float: left;
}

#ter-curr-patient a:visited {
	color: #0000EE;
}

.ter-logo {
	width: 205px;
	height: 85px;

	border-radius: 5.5%;
	float: right;
}

#ter-logout {
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	font-size: 13px;
}

.ter-panel {
	display: block;
	overflow: auto;
	padding-left: 8px !important;
	padding-right: 8px !important;
}

.ui-dialog-titlebar {
	height: 16px !important;
}

.ui-dialog-titlebar-close {
	visibility: hidden;
}

.ui-dialog-title {
	font-size: 14px !important;
}

/************ PESTAÑAS **************/

#ter-tabs {
	width: 100%;
	position: relative;
	float: left;

	margin-top: 5px;
	min-height: 400px !important;
}

.ui-tabs-anchor {
	padding-top: 12px !important;
}

.tabs-header li {
	height: 36px;
}

.tabs-header li i {
	float: left;
	font-size: 14px;
}

.tabs-header li div {
	float: left;
}

.open-record-tab {
	max-width: 14% !important;
	height: 25px !important;
	font-size: 11px;
	margin-top: 12px !important;
}

.open-record-tab .open-record-tab-name {
	padding-top: 6px !important;
	padding-right: 0px !important;
}

.open-record-tab .close-record-link {
	padding: 6px 6px 0px 6px !important;
	cursor: pointer !important;
}

.open-appointment-tab {
	height: 25px !important;
	font-size: 10px;
	margin-top: 1px !important;
}

.open-appointment-tab i {
	font-size: 14px;
}

/************ PERFIL **************/

#ter-profile-1 {
	width: 50%;
}

#ter-profile-1 div {
	width: 100%;
	float: left;
	display: block;
}

/************ FORMULARIOS **************/

.form-inputs {
	position: relative;
	float: left;

	border: 1px solid #d3d3d3;
	border-radius: 3px;
	padding: 10px 0px 10px 10px;
	margin-top: 10px;
}

.form-inputs > div, .colum-form-inputs > div {
	width: 100%;
	float: left;
}

.form-inputs-title {
	font-weight: bold;
	font-size: 13px;
}

.form-date select {
	display: inline-block;
}

.form-radio-opt label input {
	float: left;
}

.form-inputs .form-question {
	margin-left: 1.5%;
	margin-top: 8px;
}

.form-inputs .form-question > div {
	width: 30%;
	float: left;
	margin-left: 1.2%;
}

.form-inputs .radio-option {
	width: 90%;
	position: relative;
	margin-bottom: 10px;
	float: left;
}

textarea {
	resize: none;
}

/************ ADMIN TERAPETUAS **************/

.ther-block {
	width: 100%;
	position: relative;
	display: inline-block;
}

#ther-search {
	width: 20%;
	margin-left: 2%;
	margin-top: 15px;
	float: left;
}

#ther-table {
	width: 90%;
	table-layout: fixed;
}

#ther-table .arrow-expand {
	font-size: 18px;
	display: block;
}
