<div style=" width: 40%; position: relative; float: left; padding-left: 8%; margin-top: 13px;" align="left">
	<%= form_tag create_appointment_path, :id => "form-appointment", :class => "pure-form pure-form-stacked", :remote => true do | appointment_form |%>

		<!-- FECHA -->
		<div style="width: 100%; position: relative; float: left;">
			<%= label_tag "date" do %>Fecha y hora:<% end %>
			<%= text_field_tag "date", "", id: "new-appointment-date", :required => true %>
		</div>

		<!-- AÑADIR -->
		<div style="width: 100%; position: relative; float: left;">
			<%= submit_tag "Añadir Cita", :class => "pure-button pure-button-primary", :style => "float: right; margin-top: 10px; margin-right: 4%;" %>
		</div>
	<% end %>
</div>

<script type="text/javascript">

	var _allowTimes = new Array();
	for (var i = 0; i < 24; i++) {
		if (i < 10) {
			_allowTimes.push("0" + i + ":00");
			_allowTimes.push("0" + i + ":30");
		} else {
			_allowTimes.push(i + ":00");
			_allowTimes.push(i + ":30");
		}
	}

	$("input#new-appointment-date").datetimepicker({
		lang: "es",
		format: "d-m-Y H:i",
		allowTimes: _allowTimes,
		minDate: 0
	});

	$("#form-appointment").bind("ajax:success", function(evt, data, status, xhr) {
		$("#appointment-table-container").html(data);
	});
</script>