<% content_for :appointments do %>

	<!-- CITAS CONTAINER -->
	<div style="padding-bottom: 20px;">

		<!-- CITAS -->
		<div class="pat-record-field">
			<div id="appointment-table-container">
				<%= render partial: "appointment_table", locals: { patient_record: @patient_record, appointments: @appointments } %>
			</div>
		</div>
	</div>
<% end %>

<%= render template: "patient_records/open_record_tab" %>